/*
    Font Style
*/
@font-face {
    font-family: "Bella";
    src: url('../fonts/Bella.ttf');
}

.sectionKhowUs{
    background-image: url('../img/background.jpeg');
    padding: 200px;
    padding-bottom: 100px;
    padding-top: 8%;
}

.containerKhowUsLogo{
    text-align: center;
}

.infoKhowUs{
    margin-top: 40px;
}

.infoKhowUs h2{
    color: rgb(0, 101, 51);
    font-family: "Bella";
    font-weight: bold;
    font-size: 2.2rem;
}

.infoKhowUs p{
    margin-top: 15px;
    text-align: justify;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}